{% extends "base.html" %}


{% block content %}


<form method="GET">
    過期貼圖 {{form.removeExpired}} <br/>
    非森林的貼圖 {{form.onlyGuildChoice}} <br/>
    排序 {{form.orderChoice}} <br/>
    開始時間 {{form.startTime}} <br/>
    結束時間 {{form.endTime}} <br/>

    {% for button_str in botton_list %}
    <input type="submit" name="timeRange" value={{button_str}}>
    {% endfor %}
    <br/>
    <br/>
    過期貼圖更新時間：{{bot_update_time}} (萊傑啟動時間) <br/>


</form>


<table style="width: 600px; ">
    <tbody>
        <tr>
            <td style="width: 300pt; ">&nbsp; </td>
            <td style="width: 100pt; ">&nbsp; </td>
            <td style="width: 400pt; ">&nbsp; </td>
        </tr>

        {% for data in sticker_datas %}
        <tr>
            <td>
                <img src="https://cdn.discordapp.com/stickers/{{data.3}}.png" width="150pt">
            </td>
            <td> 排名 {{ data.0 }} <br/>
                ({{data.2}}) <br />
                {{data.1}} 次 <br />
                ({{data.4|length}} 人)</td>
            <td>

                {% for member in data.4 %}
                {% if forloop.counter <= 3 %} 
                {{member.0}} 次({{member.1}}-) <br />
                {% endif %}
                {% endfor %}
            </td>

        </tr>
        <!-- <option selected></option> -->
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
