<!-- <h1>Homepage</h1> -->

{% extends "base.html" %}

{% block content %}

<br />
<form method="GET">
    {{ form }}
    <input type="submit" value="更新">
</form>

過期貼圖更新時間：{{bot_update_time}} (萊傑啟動時間)

<table style="width: 600px; ">
    <tbody>
        <tr>
            <td style="width: 300pt; ">&nbsp; </td>
            <td style="width: 100pt; ">&nbsp; </td>
            <td style="width: 400pt; ">&nbsp; </td>
        </tr>

        {% for data in sticker_datas %}
        <tr>
            <td>
                <img src="https://cdn.discordapp.com/stickers/{{data.2}}.png" width="150pt">
            </td>
            <td> ({{data.1}}) <br />
                {{data.0}} 次 <br />
                ({{data.3|length}} 人)</td>
            <td>

                {% for member in data.3 %}
                {% if forloop.counter <= 3 %} 
                {{member.0}} 次({{member.1}}-) <br />
                {% endif %}
                {% endfor %}
            </td>

        </tr>
        <!-- <option selected></option> -->
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
<h1>Sticker 4</h1>